Repository getsentry/seer: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, lint-requirements

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==21.3

try dry run
  .github/workflows/relevant-warnings.yml
Due: none

try installing higher version mypy first
  .github/workflows/relevant-warnings.yml
Due: none

remove the dry run flag
  .github/workflows/relevant-warnings.yml
Due: none

fix
  tests/automation/test_automation_models.py
Due: black, isort

remove archive type for now
  src/seer/db.py
Due: black, isort

no gcs
  src/seer/automation/autofix/tools/tools.py
  src/seer/automation/codebase/repo_manager.py
Due: black, isort

working
  src/seer/automation/autofix/tools/tools.py
  src/seer/automation/codebase/repo_manager.py
Due: black, isort

with db entry
  src/seer/automation/codebase/repo_manager.py
  src/seer/db.py
Due: black, isort

repo availability check
  src/seer/automation/autofix/tools/tools.py
  src/seer/automation/codebase/repo_manager.py
Due: black, isort

init repo manager
  requirements-constraints.txt
  requirements.txt
  src/seer/automation/autofix/tools/tools.py
  src/seer/automation/codebase/repo_client.py
  src/seer/automation/codebase/repo_manager.py
Due: black, isort, lint-requirements

cleanup
  src/seer/automation/autofix/tools/tools.py
Due: black, isort

don't show the auth in the url
  src/seer/automation/codebase/repo_manager.py
Due: black, isort

better timeout logic
  src/seer/automation/autofix/tools/tools.py
  src/seer/automation/codebase/repo_manager.py
Due: black, isort

try this
  .github/workflows/relevant-warnings.yml
Due: none

does this work?
  .github/workflows/relevant-warnings.yml
Due: none

chore(anomaly-detection): separate transaction names for the different operations
  src/seer/anomaly_detection/anomaly_detection.py
  src/seer/app.py
  tests/test_seer.py
Due: black, isort

cleanup
  .github/workflows/relevant-warnings.yml
Due: none

Fix bad db patterns in autofix
  src/seer/automation/autofix/event_manager.py
  src/seer/automation/autofix/runs.py
  src/seer/automation/autofix/tasks.py
  src/seer/automation/autofix/tools/tools.py
Due: black, isort

chore(anomaly-detection): separate transaction names for the different operations (#2540)
  src/seer/anomaly_detection/anomaly_detection.py
  src/seer/app.py
  tests/test_seer.py
Due: black, isort

Fixes
  src/seer/automation/autofix/runs.py
  src/seer/automation/autofix/tools/tools.py
  tests/automation/autofix/test_autofix_tools.py
Due: black, isort

Rename var
  src/seer/automation/autofix/event_manager.py
Due: black, isort

Fixes
  src/seer/automation/autofix/runs.py
Due: black, isort

Fixes
  tests/automation/autofix/test_runs.py
Due: black, isort

get it to trigger tests
  src/seer/automation/codegen/relevant_warnings_step.py
Due: black, isort

feat(relevant-warnings): Add mypy to gha (#2543)
  .github/workflows/relevant-warnings.yml
  src/seer/automation/codegen/relevant_warnings_step.py
Due: black, isort

Smarter repo name autocorrect
  src/seer/automation/autofix/autofix_context.py
  tests/automation/autofix/test_autofix_context.py
Due: black, isort

Update comment
  src/seer/automation/autofix/autofix_context.py
Due: black, isort

Harder test case
  tests/automation/autofix/test_autofix_context.py
Due: black, isort

Typing
  src/seer/automation/autofix/autofix_context.py
Due: black, isort

use seer for deploys everywhere
  gocd/templates/bash/deploy.sh
Due: none

chore(trace summary): Reduce token count (#2537)
  src/seer/automation/models.py
  tests/automation/test_automation_models.py
Due: black, isort

fix(autofix): Smarter repo name autocorrect (#2546)
  src/seer/automation/autofix/autofix_context.py
  tests/automation/autofix/test_autofix_context.py
Due: black, isort

add enum for score prefixes
  src/seer/automation/codegen/evals/datasets.py
Due: black, isort

utility to see run results (#2541)
  src/seer/automation/codegen/evals/datasets.py
Due: black, isort

tests
  tests/automation/autofix/test_autofix_tools.py
Due: black, isort

review feedback
  src/seer/automation/autofix/tools/tools.py
  src/seer/automation/codebase/repo_manager.py
Due: black, isort

fix(autofix): Fix bad db patterns (#2545)
  src/seer/automation/autofix/event_manager.py
  src/seer/automation/autofix/runs.py
  src/seer/automation/autofix/tasks.py
  src/seer/automation/autofix/tools/tools.py
  tests/automation/autofix/test_autofix_tools.py
  tests/automation/autofix/test_runs.py
Due: black, isort

tests and remove del method
  src/seer/automation/autofix/tools/tools.py
  src/seer/automation/codebase/repo_manager.py
  tests/automation/codebase/test_repo_manager.py
Due: black, isort

appease mypy
  src/seer/automation/autofix/tools/tools.py
  src/seer/automation/codebase/repo_client.py
  src/seer/automation/codebase/repo_manager.py
Due: black, isort

appease iflake8
  src/seer/automation/autofix/tools/tools.py
  tests/automation/codebase/test_repo_manager.py
Due: black, isort

Path conditions:
  black: any of: \.py$, but not: (?x)(
    LICENSE$
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE$
)

  lint-requirements: any of: requirements-.*\.txt$, but not: (?x)(
    LICENSE$
)

