Repository getsentry/seer: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, lint-requirements

black:
  name: black
  entry: black
  language: system
  require_serial: true

isort:
  name: isort
  entry: isort
  language: system

lint-requirements:
  name: lint-requirements
  entry: python -m tools.lint_requirements
  language: python
  additional_dependencies:
  - packaging==21.3

chore(autofix): Prompt change for solution timeline (#1879)
  src/seer/automation/autofix/components/solution/prompts.py
Due: black, isort

Add unit test options to coding step
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/coding/models.py
  src/seer/automation/autofix/components/coding/prompts.py
  src/seer/automation/autofix/components/insight_sharing/component.py
  src/seer/automation/autofix/event_manager.py
  src/seer/automation/autofix/models.py
  src/seer/automation/autofix/steps/coding_step.py
  src/seer/automation/autofix/tasks.py
Due: black, isort

feat(relevant warnings) (WIP) Predict relevant warnings
  src/seer/app.py
  src/seer/automation/codebase/models.py
  src/seer/automation/codegen/codegen_event_manager.py
  src/seer/automation/codegen/models.py
  src/seer/automation/codegen/prompts.py
  src/seer/automation/codegen/relevant_warnings_component.py
  src/seer/automation/codegen/relevant_warnings_step.py
  src/seer/automation/codegen/tasks.py
  src/seer/automation/models.py
  src/seer/automation/state.py
Due: black, isort

feat(autofix): Add unit test options to coding step (#1880)
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/coding/models.py
  src/seer/automation/autofix/components/coding/prompts.py
  src/seer/automation/autofix/components/insight_sharing/component.py
  src/seer/automation/autofix/event_manager.py
  src/seer/automation/autofix/models.py
  src/seer/automation/autofix/steps/coding_step.py
  src/seer/automation/autofix/tasks.py
Due: black, isort

Replace 4o mini with Flash 2
  requirements.txt
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/is_root_cause_obvious.py
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/components/root_cause/models.py
  src/seer/automation/autofix/components/solution/component.py
  src/seer/automation/autofix/components/solution/models.py
Due: black, isort

Fix dum nit
  src/seer/automation/agent/client.py
Due: black, isort

Add claude prompt caching
  src/seer/automation/agent/client.py
Due: black, isort

Update test
  tests/automation/agent/test_client.py
Due: black, isort

Fix typing
  src/seer/automation/agent/client.py
Due: black, isort

Fix typing, bump SDK
  requirements-constraints.txt
  requirements.txt
  src/seer/automation/agent/client.py
Due: black, isort, lint-requirements

Remove unused ignore
  src/seer/automation/agent/client.py
Due: black, isort

add fixability filter
  src/seer/app.py
  src/seer/automation/codebase/models.py
  src/seer/automation/codegen/models.py
  src/seer/automation/codegen/prompts.py
  src/seer/automation/codegen/relevant_warnings_component.py
  src/seer/automation/codegen/relevant_warnings_step.py
  src/seer/automation/models.py
Due: black, isort

mypy
  src/seer/automation/codegen/relevant_warnings_component.py
Due: black, isort

Fix
  src/seer/automation/agent/client.py
  tests/automation/agent/test_client.py
  tests/automation/autofix/_encrypted_cassettes/test_bad_request_is_not_retried[create_flaky_anthropic].yaml.encrypted
Due: black, isort

tests: include in celery task list
  src/seer/automation/codebase/models.py
  src/seer/automation/codegen/relevant_warnings_component.py
  tests/test_celery.py
Due: black, isort

feat(autofix): Add prompt caching for Claude (#1884)
  requirements-constraints.txt
  requirements.txt
  src/seer/automation/agent/client.py
  tests/automation/agent/test_client.py
  tests/automation/autofix/_encrypted_cassettes/test_bad_request_is_not_retried[create_flaky_anthropic].yaml.encrypted
Due: black, isort, lint-requirements

comment about caching
  src/seer/automation/codegen/relevant_warnings_component.py
Due: black, isort

Update insight promtp to handle empty cases
  src/seer/automation/autofix/components/comment_thread.py
  src/seer/automation/autofix/components/insight_sharing/component.py
Due: black, isort

Update thread prompt
  src/seer/automation/autofix/components/comment_thread.py
Due: black, isort

Update vcrs
  tests/automation/autofix/_encrypted_cassettes/test_comment_on_thread_creates_new_thread.yaml.encrypted
  tests/automation/autofix/_encrypted_cassettes/test_comment_on_thread_updates_existing_thread.yaml.encrypted
Due: none

fix(autofix): Add NO_INSIGHT instruction to prompt, bump comment thread to new model (#1888)
  src/seer/automation/autofix/components/comment_thread.py
  src/seer/automation/autofix/components/insight_sharing/component.py
  tests/automation/autofix/_encrypted_cassettes/test_comment_on_thread_creates_new_thread.yaml.encrypted
  tests/automation/autofix/_encrypted_cassettes/test_comment_on_thread_updates_existing_thread.yaml.encrypted
Due: black, isort

wip
  pyproject.toml
  src/seer/automation/agent/agent.py
  src/seer/automation/agent/client.py
  src/seer/automation/agent/models.py
  tests/automation/agent/test_client.py
Due: black, isort

bump genai
  requirements-constraints.txt
  requirements.txt
Due: lint-requirements

add google to toml
  pyproject.toml
Due: none

try this
  pyproject.toml
Due: none

now?
  pyproject.toml
Due: none

add the ignore[attr-defined] back
  src/seer/automation/agent/client.py
Due: black, isort

fix
  tests/automation/autofix/test_autofix_context.py
Due: black, isort

fix(ai): Fix gemini tool usage (#1892)
  pyproject.toml
  requirements-constraints.txt
  requirements.txt
  src/seer/automation/agent/agent.py
  src/seer/automation/agent/client.py
  src/seer/automation/agent/models.py
  tests/automation/agent/test_client.py
  tests/automation/autofix/test_autofix_context.py
Due: black, isort, lint-requirements

WIP
  src/seer/automation/codebase/repo_client.py
Due: black, isort

Handle hallucinated files
  src/seer/automation/autofix/autofix_context.py
  src/seer/automation/autofix/components/change_describer.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/solution/component.py
  src/seer/automation/codebase/repo_client.py
Due: black, isort

Fix gemini client
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/components/solution/component.py
Due: black, isort

Update tests
  tests/automation/autofix/_encrypted_cassettes/test_autofix_run_full.yaml.encrypted
  tests/automation/autofix/components/coding/test_coding_component.py
Due: black, isort

Add LLM file search tool
  src/seer/automation/autofix/tools.py
  src/seer/automation/codebase/repo_client.py
Due: black, isort

Fix Q&A for gemini
  src/seer/automation/autofix/tasks.py
Due: black, isort

Switch to code application model
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/coding/models.py
  src/seer/automation/autofix/components/coding/prompts.py
  src/seer/automation/autofix/components/coding/utils.py
  src/seer/automation/autofix/components/solution/prompts.py
  tests/automation/autofix/_encrypted_cassettes/test_autofix_run_full.yaml.encrypted
  tests/automation/autofix/components/coding/test_coding_component.py
  tests/automation/autofix/components/coding/test_coding_utils.py
Due: black, isort

Fix coding step rethinking
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/tasks.py
Due: black, isort

Add tests
  tests/automation/autofix/test_autofix_tools.py
Due: black, isort

Path conditions:
  black: any of: \.py$, but not: (?x)(
    LICENSE$
)

  isort: any of: \.py$, but not: (?x)(
    LICENSE$
)

  lint-requirements: any of: requirements-.*\.txt$, but not: (?x)(
    LICENSE$
)

