Repository getsentry/seer: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, lint-requirements

.pre-commit-config.yaml:

default_install_hook_types: ["pre-commit", "pre-push"]

exclude: >
    (?x)(
        LICENSE$
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
  # Configuration for black exists in pyproject.toml,
  # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
#    - id: flake8
#      name: flake8
#      entry: flake8
#      language: system
#      types: [python]
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: python
      files: requirements-.*\.txt$
      additional_dependencies: [packaging==21.3]
    - id: prevent-push
      name: prevent pushing master
      stages: [pre-push]
      entry: bash -c 'test "$PRE_COMMIT_REMOTE_BRANCH" != "refs/heads/master"'
      always_run: true
      pass_filenames: false
      language: system

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements

Remove imports
  src/seer/automation/codegen/pr_review_utils.py
Due: black, isort

[feat] Compare generated PR comments against embeddings before posting (#2329)
  src/seer/automation/codegen/pr_review_publisher.py
  src/seer/automation/codegen/pr_review_utils.py
  tests/automation/codegen/test_pr_review_publisher.py
  tests/automation/codegen/test_pr_review_utils.py
Due: black, isort

fix hunk overlap
  src/seer/automation/codegen/relevant_warnings_component.py
  tests/automation/codegen/test_relevant_warnings.py
Due: black, isort

simpler
  src/seer/automation/codegen/relevant_warnings_component.py
  tests/automation/codegen/test_relevant_warnings.py
Due: black, isort

Update error handling
  src/seer/automation/summarize/traces.py
Due: black, isort

Handle too many tokens and other errors
  src/seer/automation/summarize/traces.py
  tests/automation/summarize/test_trace.py
Due: black, isort

pass in code context
  src/seer/automation/codebase/models.py
  src/seer/automation/codebase/utils.py
  src/seer/automation/codegen/models.py
  src/seer/automation/codegen/prompts.py
  src/seer/automation/codegen/relevant_warnings_component.py
  tests/automation/codebase/test_utils.py
  tests/automation/codegen/test_relevant_warnings.py
Due: black, isort

chore(trace summaries): Update models, tests, and str representation (#2388)
  src/seer/automation/models.py
  src/seer/automation/summarize/models.py
  src/seer/automation/summarize/traces.py
  tests/automation/summarize/_encrypted_cassettes/TestSummarizeTrace.test_summarize_trace_success.yaml.encrypted
  tests/automation/summarize/fixtures/traces/trace_to_summarize.json
  tests/automation/summarize/test_trace.py
  tests/test_seer.py
Due: black, isort

Force specific wheel version in build
  pyproject.toml
Due: none

update setuptools version for require
  pyproject.toml
Due: none

fix(ci): Force Wheel version (#2396)
  pyproject.toml
Due: none

try copy before install
  Lightweight.Dockerfile
Due: none

...try?
  Lightweight.Dockerfile
Due: none

remove convertdate
  requirements-constraints.txt
  requirements.txt
Due: lint-requirements

remove more
  requirements-constraints.txt
  requirements.txt
Due: lint-requirements

remove this
  requirements.txt
Due: none

remove this too
  requirements-constraints.txt
Due: lint-requirements

dockerfile adjustments
  Dockerfile
  Lightweight.Dockerfile
Due: none

remove wheel installtion test
  Lightweight.Dockerfile
Due: none

fix(ci): Remove unnecessary dependencies and reorganize dockerfiles (#2400)
  Dockerfile
  Lightweight.Dockerfile
  requirements-constraints.txt
  requirements.txt
Due: lint-requirements

remove claude tools test
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/components/solution/component.py
Due: black, isort

wip
  src/seer/automation/autofix/autofix_context.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/components/solution/component.py
  src/seer/automation/autofix/tools.py
  src/seer/automation/codebase/repo_client.py
Due: black, isort

fix
  src/seer/automation/autofix/tools.py
Due: black, isort

fix test
  src/seer/rpc.py
  tests/test_rpc.py
Due: black, isort

move unit test prompt back
  src/seer/automation/codegen/prompts.py
Due: black, isort

factor out warning and pr file overlap
  src/seer/automation/codebase/utils.py
  src/seer/automation/codegen/models.py
  src/seer/automation/codegen/prompts.py
  src/seer/automation/codegen/relevant_warnings_component.py
  tests/automation/autofix/test_models.py
  tests/automation/codegen/test_relevant_warnings.py
Due: black, isort

less verbose error logs since sentry captures
  src/seer/automation/codebase/models.py
  src/seer/automation/codegen/models.py
  src/seer/automation/codegen/relevant_warnings_component.py
  tests/automation/codegen/test_relevant_warnings.py
Due: black, isort

dummy PR
  src/seer/automation/agent/client.py
  src/seer/json_api.py
Due: black, isort

fix this
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/solution/component.py
Due: black, isort

ref: Use SENTRY_REGION instead of USE_EU_REGION
  src/seer/bootup.py
  src/seer/configuration.py
Due: black, isort

here and here
  docker-compose.yml
  src/seer/automation/agent/client.py
Due: black, isort

Update src/seer/automation/agent/client.py
  src/seer/automation/agent/client.py
Due: black, isort

appease precommit gods
  src/seer/bootup.py
Due: black, isort

ref: Use SENTRY_REGION instead of USE_EU_REGION (#2408)
  docker-compose.yml
  src/seer/automation/agent/client.py
  src/seer/bootup.py
  src/seer/configuration.py
Due: black, isort

feat(relevant-warnings) Log fetched issue IDs
  src/seer/automation/codegen/relevant_warnings_component.py
Due: black, isort

feat(relevant-warnings) Log fetched issue IDs (#2409)
  src/seer/automation/codegen/relevant_warnings_component.py
Due: black, isort

WIP - change relevant warnings prediction
  src/seer/automation/codebase/models.py
  src/seer/automation/codegen/codegen_event_manager.py
  src/seer/automation/codegen/models.py
  src/seer/automation/codegen/prompts.py
  src/seer/automation/codegen/relevant_warnings_component.py
  src/seer/automation/codegen/relevant_warnings_step.py
Due: black, isort

fix parsing `StaticAnalysisSuggestion` into `RelevantWarningResult`
  src/seer/automation/codegen/models.py
  tests/automation/codegen/test_relevant_warnings.py
Due: black, isort

chore(relevant_warnings): data handling
  src/seer/automation/codebase/models.py
  src/seer/automation/codegen/models.py
  src/seer/automation/codegen/prompts.py
  src/seer/automation/codegen/relevant_warnings_component.py
  src/seer/automation/codegen/relevant_warnings_step.py
Due: black, isort

test(relevant_warnings) fix tests + add unit tests for new component
  src/seer/automation/codebase/models.py
  tests/automation/codegen/test_relevant_warnings.py
Due: black, isort
