Repository getsentry/seer: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, lint-requirements

.pre-commit-config.yaml:

default_install_hook_types: ["pre-commit", "pre-push"]

exclude: >
    (?x)(
        LICENSE$
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
  # Configuration for black exists in pyproject.toml,
  # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
#    - id: flake8
#      name: flake8
#      entry: flake8
#      language: system
#      types: [python]
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: python
      files: requirements-.*\.txt$
      additional_dependencies: [packaging==21.3]
    - id: prevent-push
      name: prevent pushing master
      stages: [pre-push]
      entry: bash -c 'test "$PRE_COMMIT_REMOTE_BRANCH" != "refs/heads/master"'
      always_run: true
      pass_filenames: false
      language: system

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements

Add test
  tests/automation/codebase/test_repo_client.py
Due: black, isort

rename is to are
  src/seer/automation/codegen/models.py
  src/seer/automation/codegen/relevant_warnings_component.py
  src/seer/automation/codegen/relevant_warnings_step.py
Due: black, isort

Add error handling and fallbacks
  src/seer/automation/autofix/components/coding/component.py
Due: black, isort

fix(autofix): Fix coding step rethinking (#1896)
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/tasks.py
Due: black, isort

feat(autofix): Add semantic file search tool (#1894)
  src/seer/automation/autofix/tasks.py
  src/seer/automation/autofix/tools.py
  src/seer/automation/codebase/repo_client.py
  tests/automation/autofix/test_autofix_tools.py
Due: black, isort

Fix error handling
  src/seer/automation/autofix/components/coding/component.py
Due: black, isort

feat(autofix): Use an LLM to apply edits to full files in the coding step (#1895)
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/coding/models.py
  src/seer/automation/autofix/components/coding/prompts.py
  src/seer/automation/autofix/components/coding/utils.py
  src/seer/automation/autofix/components/solution/prompts.py
  tests/automation/autofix/_encrypted_cassettes/test_autofix_run_full.yaml.encrypted
  tests/automation/autofix/components/coding/test_coding_component.py
  tests/automation/autofix/components/coding/test_coding_utils.py
Due: black, isort

fix(autofix): Pre-validate and autocorrect file paths (#1893)
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/autofix_context.py
  src/seer/automation/autofix/components/change_describer.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/coding/models.py
  src/seer/automation/autofix/components/coding/prompts.py
  src/seer/automation/autofix/components/coding/utils.py
  src/seer/automation/autofix/components/solution/component.py
  src/seer/automation/autofix/components/solution/prompts.py
  src/seer/automation/autofix/tasks.py
  src/seer/automation/autofix/tools.py
  src/seer/automation/codebase/repo_client.py
  tests/automation/autofix/_encrypted_cassettes/test_autofix_run_full.yaml.encrypted
  tests/automation/autofix/components/coding/test_coding_component.py
  tests/automation/autofix/components/coding/test_coding_utils.py
  tests/automation/autofix/test_autofix_tools.py
  tests/automation/codebase/test_repo_client.py
Due: black, isort

Make relevant code optional again with gemini sdk bump
  requirements.txt
  src/seer/automation/autofix/components/root_cause/models.py
  src/seer/automation/autofix/components/solution/models.py
Due: black, isort

fix(autofix): Make relevant code optional again with gemini sdk bump (#1901)
  requirements.txt
  src/seer/automation/autofix/components/root_cause/models.py
  src/seer/automation/autofix/components/solution/models.py
Due: black, isort

Update src/seer/automation/autofix/steps/steps.py
  src/seer/automation/autofix/steps/steps.py
Due: black, isort

Fixes
  src/seer/automation/agent/agent.py
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/autofix_agent.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/solution/component.py
  src/seer/automation/codebase/repo_client.py
Due: black, isort

Fix test
  tests/automation/codebase/test_repo_client.py
Due: black, isort

update checkout
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  .github/workflows/validate-pipelines.yml
Due: none

Fix test
  tests/automation/autofix/steps/test_autofix_steps.py
Due: black, isort

bump this too
  .github/workflows/linting.yml
Due: none

chore(ci): update checkout to v4 (#1905)
  .github/workflows/linting.yml
  .github/workflows/tests.yml
  .github/workflows/validate-pipelines.yml
Due: none

merge
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
  tests/seer/anomaly_detection/detectors/test_anomaly_detectors.py
  tests/seer/anomaly_detection/detectors/test_boxcoxscorer.py
  tests/seer/anomaly_detection/detectors/test_mp_scorers.py
  tests/seer/anomaly_detection/test_utils.py
Due: black, isort

chore(anomaly-detectioin): autodetection of lambda parameter for boxcox
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
  tests/seer/anomaly_detection/detectors/test_boxcoxscorer.py
Due: black, isort

reducing the MP threshold for high sensitivity for merging with prophet results
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  tests/seer/anomaly_detection/detectors/test_boxcoxscorer.py
Due: black, isort

chore(anomaly_detection): adding new configuration to limit number of times prophet runs in batch mode`
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
  src/seer/anomaly_detection/detectors/mp_cascading_scorer.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  tests/seer/anomaly_detection/detectors/test_mp_scorers.py
  tests/seer/anomaly_detection/test_utils.py
Due: black, isort

chore(anomaly-detectioin): unit test fixes
  tests/seer/anomaly_detection/detectors/test_boxcoxscorer.py
Due: black, isort

chore(anomaly-detection): add log transformation and z-score based scorer
  src/seer/anomaly_detection/detectors/__init__.py
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
  src/seer/anomaly_detection/detectors/mp_cascading_scorer.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  src/seer/anomaly_detection/models/relative_location.py
  tests/seer/anomaly_detection/detectors/test_anomaly_detectors.py
  tests/seer/anomaly_detection/detectors/test_boxcoxscorer.py
  tests/seer/anomaly_detection/detectors/test_mp_scorers.py
  tests/seer/anomaly_detection/test_utils.py
Due: black, isort

Remove comments
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
Due: black, isort

Fix tests from merged changes
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
  tests/seer/anomaly_detection/detectors/test_boxcoxscorer.py
Due: black, isort

fix(autofix): Some fixes (#1904)
  src/seer/automation/agent/agent.py
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/autofix_agent.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/solution/component.py
  src/seer/automation/codebase/repo_client.py
  tests/automation/codebase/test_repo_client.py
Due: black, isort

bump this one too
  .github/workflows/validate-pipelines.yml
Due: none

chore(ci): bump this one too (#1906)
  .github/workflows/validate-pipelines.yml
Due: none

chore(anomaly-detection): add power transformation and z-score based scorer (#1837)
  src/seer/anomaly_detection/detectors/__init__.py
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
  src/seer/anomaly_detection/detectors/mp_cascading_scorer.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  src/seer/anomaly_detection/models/relative_location.py
  tests/seer/anomaly_detection/detectors/test_anomaly_detectors.py
  tests/seer/anomaly_detection/detectors/test_boxcoxscorer.py
  tests/seer/anomaly_detection/detectors/test_mp_scorers.py
  tests/seer/anomaly_detection/test_utils.py
Due: black, isort

chore(anomaly_detection): add the time step to threshold returned
  src/seer/anomaly_detection/detectors/location_detectors.py
  src/seer/anomaly_detection/detectors/mp_boxcox_scorer.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  src/seer/anomaly_detection/models/relative_location.py
Due: black, isort

devenv: Allow multiple seers to run at the same time
  .env.example
  README.md
  docker-compose.yml
Due: none

feat(langfuse): See insights in langfuse trace + pass instructions to obvious step
  requirements-constraints.txt
  requirements.txt
  src/seer/automation/autofix/autofix_agent.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/is_root_cause_obvious.py
  src/seer/automation/autofix/components/root_cause/component.py
Due: black, isort, lint-requirements

shut up mypy
  pyproject.toml
Due: none

devenv: Allow multiple seers to run at the same time (#1907)
  .env.example
  README.md
  docker-compose.yml
Due: none

build: Use lightweight image for local and ci
  Lightweight.Dockerfile
  docker-compose.yml
Due: none

feat(langfuse): Parallel traces in langfuse + obvious step instructions (#1908)
  pyproject.toml
  requirements-constraints.txt
  requirements.txt
  src/seer/automation/autofix/autofix_agent.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/is_root_cause_obvious.py
  src/seer/automation/autofix/components/root_cause/component.py
Due: black, isort, lint-requirements

try to cache??
  .github/workflows/tests.yml
  docker-compose-cache.json
Due: none

try
  .github/workflows/tests.yml
Due: none

split
  .github/workflows/tests.yml
Due: none

service name
  docker-compose-cache.json
Due: none
