Repository getsentry/seer: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, lint-requirements

.pre-commit-config.yaml:

default_install_hook_types: ["pre-commit", "pre-push"]

exclude: >
    (?x)(
        LICENSE$
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
  # Configuration for black exists in pyproject.toml,
  # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
#    - id: flake8
#      name: flake8
#      entry: flake8
#      language: system
#      types: [python]
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: python
      files: requirements-.*\.txt$
      additional_dependencies: [packaging==21.3]
    - id: prevent-push
      name: prevent pushing master
      stages: [pre-push]
      entry: bash -c 'test "$PRE_COMMIT_REMOTE_BRANCH" != "refs/heads/master"'
      always_run: true
      pass_filenames: false
      language: system

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements

[feat] Auto create a PR after the unit test task completes (#1214)
  src/seer/automation/codebase/repo_client.py
  src/seer/automation/codegen/unit_test_github_pr_creator.py
  src/seer/automation/codegen/unittest_step.py
  tests/automation/codegen/test_unit_test_step.py
Due: black, isort

Let's gooooo
  docker-compose.yml
Due: none

Ok
  tests/test_celery.py
Due: black, isort

Add tests, fix threading cleanup
  src/seer/automation/autofix/event_manager.py
  src/seer/automation/autofix/steps/steps.py
  src/seer/automation/autofix/tasks.py
  src/seer/automation/pipeline.py
  tests/automation/autofix/steps/test_autofix_steps.py
  tests/automation/autofix/test_autofix_event_manager.py
  tests/automation/autofix/test_autofix_tasks.py
Due: black, isort

GRPC Server in Seer (#1195)
  Dockerfile
  grpcserver.sh
  requirements-constraints.txt
  requirements.txt
  src/celery_app/tasks.py
  src/seer/app.py
  src/seer/configuration.py
  src/seer/grpc.py
  supervisord.conf
Due: black, isort, lint-requirements

allow root cause reproduction to be none in plancode
  src/seer/automation/autofix/components/coding/models.py
Due: black, isort

fix(autofix): allow root cause reproduction to be none in plancode model (#1217)
  src/seer/automation/autofix/components/coding/models.py
Due: black, isort

Fixes
  src/seer/automation/agent/agent.py
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/tasks.py
  tests/automation/autofix/components/test_root_cause.py
Due: black, isort

feat(autofix): Add controllable insights chain (#1213)
  src/seer/app.py
  src/seer/automation/agent/agent.py
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/insight_sharing/component.py
  src/seer/automation/autofix/components/insight_sharing/models.py
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/event_manager.py
  src/seer/automation/autofix/models.py
  src/seer/automation/autofix/steps/change_describer_step.py
  src/seer/automation/autofix/steps/coding_step.py
  src/seer/automation/autofix/steps/root_cause_step.py
  src/seer/automation/autofix/steps/steps.py
  src/seer/automation/autofix/tasks.py
  src/seer/automation/pipeline.py
  src/seer/automation/utils.py
  tests/automation/agent/test_agent.py
  tests/automation/autofix/components/test_insight_sharing.py
  tests/automation/autofix/components/test_root_cause.py
  tests/automation/autofix/steps/test_autofix_steps.py
  tests/automation/autofix/test_autofix_event_manager.py
  tests/automation/autofix/test_autofix_tasks.py
  tests/automation/autofix/test_models.py
  tests/test_seer.py
Due: black, isort

Bump 4o version to latest
  src/seer/automation/agent/client.py
Due: black, isort

Bump scoring model
  src/seer/automation/autofix/tasks.py
Due: black, isort

ref(init): change seer bootup script
  gunicorn.sh
Due: none

Bump scoring model to o1
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/evaluations.py
  src/seer/automation/autofix/tasks.py
Due: black, isort

ref(init): change seer bootup script (#1223)
  gunicorn.sh
Due: none

Add more logging prefixes
  src/seer/logging.py
Due: black, isort

fix mypy
  src/seer/automation/autofix/tools.py
Due: black, isort

feat(autofix): Keyword search only downloads repo once
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/tools.py
  src/seer/automation/codegen/unit_test_coding_component.py
  src/seer/langfuse.py
  tests/automation/autofix/test_autofix_tools.py
Due: black, isort

fix name
  src/seer/automation/autofix/components/root_cause/component.py
Due: black, isort

feat(autofix): Keyword search only downloads repo once (#1219)
  src/seer/automation/autofix/components/coding/component.py
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/tools.py
  src/seer/automation/codegen/unit_test_coding_component.py
  src/seer/langfuse.py
  tests/automation/autofix/test_autofix_tools.py
Due: black, isort

hotfix: skip seer gpu on deploys for now
  gocd/templates/bash/deploy.sh
Due: none

hotfix: skip seer gpu on deploys for now (#1226)
  gocd/templates/bash/deploy.sh
Due: none

repo client hotfix
  src/seer/automation/codebase/repo_client.py
Due: black, isort

hotfix(autofix): repo client hotfix (#1228)
  src/seer/automation/codebase/repo_client.py
Due: black, isort

chore(anomaly-detection): Refactoring to pass timestamps downstream for prophet use
  src/seer/anomaly_detection/anomaly_detection.py
  src/seer/anomaly_detection/detectors/anomaly_detectors.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  src/seer/automation/codegen/unit_test_github_pr_creator.py
  src/seer/automation/codegen/unittest_step.py
  tests/automation/codegen/test_unit_test_step.py
  tests/seer/anomaly_detection/detectors/test_anomaly_detectors.py
  tests/seer/anomaly_detection/detectors/test_mp_scorers.py
  tests/seer/anomaly_detection/detectors/test_window_size_selectors.py
  tests/seer/anomaly_detection/test_anomaly_detection.py
  tests/seer/anomaly_detection/test_utils.py
Due: black, isort

hotfix: entirely remove seer-gpu deploy script for now
  gocd/templates/bash/deploy.sh
Due: none

hotfix: entirely remove seer-gpu deploy script for now (#1229)
  gocd/templates/bash/deploy.sh
Due: none

chore(anomaly-detection): Refactoring to pass timestamps downstream for prophet use (#1216)
  src/seer/anomaly_detection/anomaly_detection.py
  src/seer/anomaly_detection/detectors/anomaly_detectors.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  src/seer/automation/codegen/unit_test_github_pr_creator.py
  src/seer/automation/codegen/unittest_step.py
  tests/automation/codegen/test_unit_test_step.py
  tests/seer/anomaly_detection/detectors/test_anomaly_detectors.py
  tests/seer/anomaly_detection/detectors/test_mp_scorers.py
  tests/seer/anomaly_detection/detectors/test_window_size_selectors.py
  tests/seer/anomaly_detection/test_anomaly_detection.py
  tests/seer/anomaly_detection/test_utils.py
Due: black, isort

Working version
  src/seer/app.py
  src/seer/automation/autofix/autofix_context.py
  src/seer/automation/autofix/models.py
  src/seer/automation/autofix/tasks.py
  src/seer/automation/codebase/repo_client.py
Due: black, isort

Switch agent to prod
  src/seer/automation/codebase/repo_client.py
Due: black, isort

chore(anomaly-detection): Some more refactoring
  src/seer/anomaly_detection/detectors/anomaly_detectors.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  tests/seer/anomaly_detection/detectors/test_anomaly_detectors.py
  tests/seer/anomaly_detection/detectors/test_mp_scorers.py
  tests/seer/anomaly_detection/detectors/test_window_size_selectors.py
  tests/seer/anomaly_detection/test_anomaly_detection.py
  tests/seer/anomaly_detection/test_utils.py
Due: black, isort

chore(anomaly-detection): Some more refactoring (#1230)
  src/seer/anomaly_detection/detectors/anomaly_detectors.py
  src/seer/anomaly_detection/detectors/mp_scorers.py
  tests/seer/anomaly_detection/detectors/test_anomaly_detectors.py
  tests/seer/anomaly_detection/detectors/test_mp_scorers.py
  tests/seer/anomaly_detection/detectors/test_window_size_selectors.py
  tests/seer/anomaly_detection/test_anomaly_detection.py
  tests/seer/anomaly_detection/test_utils.py
Due: black, isort

Fix typing
  src/seer/automation/agent/client.py
Due: black, isort

(autofix): Bump 4o version to latest (#1221)
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/evaluations.py
  src/seer/automation/autofix/tasks.py
Due: black, isort

run pre commit
  src/integrations/codecov/codecov_client.py
  src/seer/automation/autofix/steps/change_describer_step.py
  src/seer/automation/autofix/steps/coding_step.py
  src/seer/automation/codegen/models.py
  tests/integrations/test_codecov_client.py
Due: black, isort

Update repo check for PR comment
  src/seer/automation/autofix/steps/root_cause_step.py
Due: black, isort

Update branch ref for UT gen
  src/seer/automation/codegen/unit_test_github_pr_creator.py
Due: black, isort

feat(autofix+copilot): Add support for copilot to trigger autofix (#1198)
  src/integrations/codecov/codecov_client.py
  src/seer/automation/autofix/autofix_context.py
  src/seer/automation/autofix/components/root_cause/models.py
  src/seer/automation/autofix/models.py
  src/seer/automation/autofix/steps/change_describer_step.py
  src/seer/automation/autofix/steps/coding_step.py
  src/seer/automation/autofix/steps/root_cause_step.py
  src/seer/automation/codebase/repo_client.py
  src/seer/automation/codegen/models.py
  tests/integrations/test_codecov_client.py
Due: black, isort

change: Add grpc bootstrap
  Dockerfile
  grpcserver.sh
Due: none

Adjust sensitivities
  src/seer/anomaly_detection/detectors/mp_scorers.py
Due: black, isort

Adjust Scorer Sensitivities (#1233)
  src/seer/anomaly_detection/detectors/mp_scorers.py
Due: black, isort
