Repository getsentry/seer: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, lint-requirements

.pre-commit-config.yaml:

default_install_hook_types: ["pre-commit", "pre-push"]

exclude: >
    (?x)(
        LICENSE$
    )

repos:
# Many of these hooks are local because people use a variety of IDEs
# with autoformatters that need to call out to things like `black` directly.
# pre-commit run is not the same, and something like pre-commit exec does
# not exist yet.
-   repo: local
    hooks:
  # Configuration for black exists in pyproject.toml,
  # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: black
      language: system
      types: [python]
      require_serial: true
    # Configuration for isort exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: isort
      name: isort
      entry: isort
      language: system
      types: [python]
    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
#    - id: flake8
#      name: flake8
#      entry: flake8
#      language: system
#      types: [python]
    - id: lint-requirements
      name: lint-requirements
      entry: python -m tools.lint_requirements
      language: python
      files: requirements-.*\.txt$
      additional_dependencies: [packaging==21.3]
    - id: prevent-push
      name: prevent pushing master
      stages: [pre-push]
      entry: bash -c 'test "$PRE_COMMIT_REMOTE_BRANCH" != "refs/heads/master"'
      always_run: true
      pass_filenames: false
      language: system

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
      exclude_types: [svg]
      exclude: ^fixtures/
    - id: trailing-whitespace
      exclude_types: [svg]
      exclude: ^(fixtures/|scripts/patches/)
    - id: debug-statements

Revert "security: fix tarfile extraction" (#2482)
  src/seer/automation/codebase/repo_client.py
  tests/automation/codebase/test_repo_client.py
Due: black, isort

Handle some claude tools faillures
  src/seer/automation/autofix/tools/tools.py
Due: black, isort

prompt
  src/seer/automation/autofix/tools/tools.py
Due: black, isort

Restore comments
  src/seer/automation/autofix/tools/tools.py
Due: black, isort

revert requirements
  requirements-constraints.txt
  requirements.txt
Due: lint-requirements

encrypt
  tests/automation/agent/_encrypted_cassettes/test_create_cache_different_ttl.yaml.encrypted
  tests/automation/agent/_encrypted_cassettes/test_create_cache_gemini.yaml.encrypted
Due: none

redo vcr
  tests/automation/agent/_encrypted_cassettes/test_create_cache_different_ttl.yaml.encrypted
  tests/automation/agent/_encrypted_cassettes/test_create_cache_gemini.yaml.encrypted
Due: none

Update
  src/seer/automation/agent/client.py
Due: black, isort

tests
  tests/automation/agent/test_client.py
Due: black, isort

updated vvcrs
  tests/automation/agent/_encrypted_cassettes/test_gemini_create_cache.yaml.encrypted
  tests/automation/agent/_encrypted_cassettes/test_gemini_create_cache_same_display_name.yaml.encrypted
  tests/automation/agent/_encrypted_cassettes/test_gemini_get_cache.yaml.encrypted
Due: none

comment
  src/seer/automation/agent/client.py
Due: black, isort

fix(autofix): Handle some claude tools faillures (#2483)
  src/seer/automation/autofix/tools/tools.py
Due: black, isort

fix(autofix): Limit parallel tool calls (#2475)
  src/seer/automation/autofix/autofix_agent.py
Due: black, isort

Raise error on empty prompt
  src/seer/automation/agent/agent.py
Due: black, isort

remove print
  src/seer/automation/agent/client.py
Due: black, isort

chore(agent): Enable manual prompt caching for gemini (#2470)
  src/seer/automation/agent/client.py
  tests/automation/agent/_encrypted_cassettes/test_create_cache_different_ttl.yaml.encrypted
  tests/automation/agent/_encrypted_cassettes/test_create_cache_gemini.yaml.encrypted
  tests/automation/agent/_encrypted_cassettes/test_gemini_create_cache.yaml.encrypted
  tests/automation/agent/_encrypted_cassettes/test_gemini_create_cache_same_display_name.yaml.encrypted
  tests/automation/agent/_encrypted_cassettes/test_gemini_get_cache.yaml.encrypted
  tests/automation/agent/test_client.py
Due: black, isort

fix(autofix): Use sonnet 3.5 v2 in de
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/components/solution/component.py
Due: black, isort

enable sentry logging
  src/seer/bootup.py
Due: black, isort

bump sentry-sdk
  requirements.txt
Due: none

max_tokens
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/components/solution/component.py
Due: black, isort

bump dependencies the right way
  requirements-constraints.txt
  requirements.txt
Due: lint-requirements

fix(autofix): Use sonnet 3.5 v2 in de (#2487)
  src/seer/automation/autofix/components/root_cause/component.py
  src/seer/automation/autofix/components/solution/component.py
Due: black, isort

feat(seer): enable sentry logging (#2486)
  requirements-constraints.txt
  requirements.txt
  src/seer/bootup.py
Due: black, isort, lint-requirements

fix(autofix): Don't use global endpoint for claude unless it's us region
  src/seer/automation/agent/client.py
Due: black, isort

fix(autofix): Don't use global endpoint for claude unless us region (#2489)
  src/seer/automation/agent/client.py
Due: black, isort

fix(autofix): don't add blank user messages (#2480)
  src/seer/automation/agent/agent.py
  src/seer/automation/agent/client.py
  src/seer/automation/autofix/tasks.py
Due: black, isort

ci(st): Fix deploys for customer 4
  gocd/templates/bash/deploy.sh
  gocd/templates/bash/run-migrations.sh
Due: none

ci(st): Fix deploys for customer 4 (#2490)
  gocd/templates/bash/deploy.sh
  gocd/templates/bash/run-migrations.sh
Due: none

fix(autofix): Fix claude create tool (#2468)
  src/seer/automation/autofix/tools/tools.py
  tests/automation/autofix/test_autofix_tools.py
Due: black, isort

fix(autofix): Set acks_late on core autofix tasks (#2467)
  src/seer/automation/autofix/steps/change_describer_step.py
  src/seer/automation/autofix/steps/coding_step.py
  src/seer/automation/autofix/steps/root_cause_step.py
  src/seer/automation/autofix/steps/solution_step.py
  src/seer/automation/autofix/tasks.py
Due: black, isort

fix(autofix): Handle claude giving no content after thinking (#2481)
  src/seer/automation/agent/client.py
Due: black, isort

Prompts and general flow of query creation
  src/seer/assisted_query/assisted_query.py
  src/seer/assisted_query/models.py
  src/seer/assisted_query/prompts.py
  src/seer/automation/agent/client.py
Due: black, isort

gha: pin action versions (#2464)
  .github/workflows/cleanup.yml
  .github/workflows/linting.yml
  .github/workflows/relevant-warnings.yml
  .github/workflows/tests.yml
  .github/workflows/validate-pipelines.yml
Due: none

security: fix tarfile extraction (#2466)
  src/seer/automation/codebase/repo_client.py
  tests/automation/codebase/test_repo_client.py
Due: black, isort

Endpoint to create the cached prompt and make RPC calls
  src/seer/assisted_query/__init__.py
  src/seer/assisted_query/attributes_reference.py
  src/seer/assisted_query/create_cache.py
  src/seer/assisted_query/models.py
  src/seer/assisted_query/prompts.py
Due: black, isort
